<p id="notice"><%= notice %></p>

<h1>Vehicles</h1>

<table>
  <thead>
    <tr>
      <th>name</th>
      <th>code</th>
      <th>vehicle_class</th>
      <th>brand</th>
      <th>model</th>
      <th>model_year</th>
      <th>fuel_capacity</th>
      <th>fuel_type</th>
      <th>status</th>
    </tr>
  </thead>

  <tbody>
    <% @vehicles.each do |vehicle| %>
      <tr>
        <td><%= vehicle.name %></td>
        <td><%= vehicle.code %></td>
        <td><%= vehicle.vehicle_class %></td>
        <td><%= vehicle.brand %></td>
        <td><%= vehicle.model %></td>
        <td><%= vehicle.model_year %></td>
        <td><%= vehicle.fuel_capacity %></td>
        <td><%= vehicle.fuel_type %></td>
        <td><%= vehicle.status %></td>
        <td><%= link_to 'Show', vehicle %></td>
        <td><%= link_to 'Edit', edit_vehicle_path(vehicle) %></td>
        <td><%= link_to 'Destroy', vehicle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vehicle', new_vehicle_path %>
